#add-product label{
    color: black;
}
#add-product input{
    width: 100%;
    margin: 10px 0px;
}
#add-product input[type='submit']{
    background-color: greenyellow;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}
@media (max-width: 845px){ 
    #add-product{
        margin-top: 80px;
    }
}